body {
    background-color: gray;
}

h1 {
    color: #ffffff;
    font-family: 'DM Sans', sans-serf;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    height:auto;
}